.container {
    width: 89.7435897vw;
    margin-left: auto;
    margin-right: auto;
}

header {
    box-sizing: border-box;
    padding: 10px 24px;
}

header svg {
    flex: 0 0 auto;
}

img {
    width: 100%;
}

#main img {
    height: 56.8720379vh;
}

.img-overlay {
    position: absolute;
    bottom: 05.33175355vh;
    /*261px*/
    left: 05.128205vw;
    /*20px*/
}

.block {
    margin-bottom: 03.79146919vh;
}

.m-btn {
    width: 27.9487179vw;
    height: 32px;
}

.cards {
    gap: 01.75vh;
}

.card {
    position: relative;
    height: 20.97156398vh;
}

.adv1-readable {
    bottom: -5%;
}

.adv1-txt {
    left: 04.1025641vw;
    /* bottom: 01.89573459vh; */
    bottom: 12px;
}

.adv2-icons svg:first-child,
.adv2-icons svg:last-child {
    width: 70%;
}

.adv2-icons svg:last-child {
    transform: translate(-48%, -90%);
}

.adv2-inf {
    position: absolute;
    right: 03.07692307vw;
    top: 01.4218009vh;
}

.facts {
    /* gap: 01.4218009vh */
    gap: 12px
}

.fact {
    width: 100%;
    gap: 0px;
}

#call {
    padding: 01.89573459vh 04.1025641vw;
    background-color: #E5F1FA;
}
#landscape{
    position: absolute;
    z-index: 4;
    background-color: white;
    width: 100vw;
    height: 100vh;
}
#landscape-container{
    padding-top: -30%;
    /* transform: translate(0, -80%); */
    /* margin-bottom: -10%; */
}