#hud{
    position: absolute;
    text-align: center;
}
#scrSizeChanged{
    bottom: 0%;
    right: 0%;
    width: 35%;
    color: aqua;
    background-color: white;
    background-blend-mode: lighten;

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
