#icon{
    /* width: 160px; */
    width: 11.111%;
    height: 155px;
    position: absolute;
    top: 0%;
}
#placeholder-icon{
    width: 11.111%;
    height: 155px;
    visibility: hidden;
}
#icon svg g{
    box-shadow: 0px 4px 16px rgba(28, 38, 83, 0.08);
}
#nav-menu{
    max-width: 100%;
    /* gap: 102px; */
    /* gap: 5.625%; */
    justify-content: space-between;
    max-height: 81px;
}
.nav-items{
    /* gap: 38px; */
    /* gap: 2.638%; */
    width: 42.222%;
    text-transform: uppercase;
    justify-content: space-between;
    position: relative;
}