:root{
    --dark-color: #1D1E20;
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
ul{padding-left: 0px;}
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 1;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
    transition: 200ms;
}

.ham8 .middle, .ham8 .middle2{
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: 200ms;
    transition-delay: 100ms;
}

.ham8.active .top {
    opacity: 0;
    transform: translate(0, -20px);
}

.ham8.active .middle {
    transform: rotate(90deg);
}
.ham8.active .middle2 {
    transform: rotate(-180deg);
}

.ham8.active .bottom {
    opacity: 0;
    transform: translate(0, 20px);
}
.hr-white{
    border: 1px solid #E4E4EB
}
.hr-black{
    border: 2.25px solid #000000
}
.fill-btn{
    color: white;
    background-color: var(--dark-color);
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}
.round-btn{
    padding: 11px 16px;
    border-radius: 6px;
}
.outline-btn{
    border: 1.5px solid #071C35;
    color: var(--dark-color);
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wide{
    letter-spacing: 2px;
    text-transform: uppercase;
    text-transform: uppercase;
}
.s-btn{
    /* width: 294px; */
    width: 15.312vw;
    /* height: 55px; */
    height: 05.092vh;
}
.b-btn{
    height: 48px;
}
.adv1-txt{
    position: absolute;
    bottom: 28px;
    left: 36px;
}
.adv1-readable{
    position: absolute;
    background-image: radial-gradient(at bottom left, black, #00000054 0.3%, #ffffff00 60%);
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 200px;
}
.fact{
    position: relative;
    box-shadow: 0px 4px 16px rgba(28, 38, 83, 0.08);
    /* width: 400px; */
    /* width: 20.833vw; */
    width: 20.687vw;
    /* height: 240px; */
    height: 22.222vh;
    text-align: center;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.adv2-icons svg:first-child{
    position: relative;
    z-index: 2;
}
.blur-block{
    position: absolute;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    padding: 18px 20px;
    color: white;
}
.adv2-icons svg:last-child{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%,-90%);
}
.cover{object-fit: cover;}
.border-box{box-sizing: border-box;}
.mw0{min-width: 0px;}
.mw200{max-width: 200px;}
.f60{
    max-width: 60.743%;
    width: 60.743%;
}
.f30{
    max-width: 36.422%;
    width: 36.422%;
}
.f-half{flex: 0 0 47.778%}

.h32 {height: 32px;}

.pt48 {padding-top: 48px;}
.pb48 {padding-bottom: 48px;}

.g14 {gap: 14px;}

.mb48 {margin-bottom: 48px;}
.mb37 {margin-bottom: 37px;}
.mb32 {margin-bottom: 32px;}
.mb28 {margin-bottom: 28px;}
.mb22 {margin-bottom: 22px;}
.mb20 {margin-bottom: 20px;}
.mb19 {margin-bottom: 19px;}
.mb16 {margin-bottom: 16px;}
.mb14 {margin-bottom: 14px;}
.mb12 {margin-bottom: 12px;}
.mb10 {margin-bottom: 10px;}
.mb9 {margin-bottom: 9px;}
.mb8 {margin-bottom: 8px;}
.mb2 {margin-bottom: 2px;}

.mr {margin-right: 02.86%;}
.mr32{margin-right: 01.666vw}
.mr12{margin-right: 12px}

.container {
    position: relative;
    width: 71.094vw;
	margin: 0 auto !important; 
	float: none !important; 
} 
.mini-container{
    width: 88.229%;
    margin-left: auto;
    margin-right: auto;
}
.block{
    margin-bottom: 70px;
    position: relative;
}
.absolute-center{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.absolute-full-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.txt-fix{white-space: nowrap;}
.grey{color: #74747B;}
.white{color: white;}
.overflow{overflow: visible;}
.no-overflow{overflow: hidden;}
.no-select{user-select: none;}
.pointer{cursor: pointer;}
.txt-center{text-align: center;}
.uppercase{text-transform: uppercase;}
.underline{text-decoration: underline;}
.flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-column{flex-direction: column;}
.allign-center {align-items: center;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.relative{position: relative}
.w100{width: 100%;}

#overlay{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
}
.full{
    width: 100vw;
    height: 100vh;
}
.fixed { position: fixed; }
.dark-bg{
    background-color: #000;
    opacity: 35%;
}
#fact-overlay{
    z-index: 10;
    letter-spacing: -0.24px;
    width: 82.5641025%;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
}
#loader{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.slider{
    user-select: none;
}
.slider-arrow{
    background-color: #1D1E20;
    position: absolute;
    cursor: pointer;
    z-index: 3;

    width: 02.29166vw;
    height: 02.29166vw;

    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-left-arrow{
    border-radius: 0px 5px 5px 0px;
}
.slider-right-arrow{
    right: 0%;
    border-radius: 5px 0px 0px 5px;
}

#landscape {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 6;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

#landscape-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#call-btn{
    width: 100px;
    height: 100px;
    background: #0062FF;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    bottom: 2.5%;
    left: 2.5%;
    text-transform: uppercase;
    position: fixed;
}

#call-btn p{
    position: absolute;
    top: 50%;
    transform: translate(0%, -80%);
}
#call-overlay{
    z-index: 10;
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
#call-order{
    border-radius: 4px;
}
#number-input{
    padding: 16px 12px;
    border: 1.25px solid #E5E5E5;
    height: 100%;
    border-radius: 4px 0 0 4px;
    outline: 0px;
}
#number-input, #number-input::placeholder{
    font-size: 1em;
}
#order-call-btn{
    background: #0062FF;
    height: 100%;
    border-radius: 0 4px 4px 0;
}