#video-block{
    z-index: -1;
}
#video-block video{
    height: 88.888vh;
    width: 100%;
    /* height: 720px; */

    pointer-events: none;
    user-select: none;
    object-fit: fill;
}
.player-overlay{
    bottom: 14.629%;
}
#lplayer-overlay{
    left: 10.462%;
}
#rplayer-overlay{
    right: 09.809%
}