:root {
    --vdark: hsl(0, 86%, 65%);
    --accent: #ff0000;
    --light: #1f1f1f;
    --dark: #ff5252;
    --medium: #ce4c4c;
    --border: #ffb7aa;
}

.grad-lr {
    background: linear-gradient(to right, var(--light), var(--light), transparent);
}
.grad-rl {
    background: linear-gradient(to left, var(--light), var(--light), transparent);
}
.grad-tb {
    background: linear-gradient(to top, var(--light), var(--light), transparent);
}
.grad-bt {
    background: linear-gradient(to bottom, var(--light), var(--light), transparent);
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--light);
}

.through {
    pointer-events: none;
    user-select: none;
}

.fuzz {
    /* transition: all 0.15s ease-in-out */
    transition: all 0.15s cubic-bezier(0.92,-0.68, 0, 1.02);
}