.glowRed {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowRed 1s ease-in-out infinite alternate;
    -moz-animation: glowRed 1s ease-in-out infinite alternate;
    animation: glowRed 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowRed {
    from {
        text-shadow: 0 0 10px rgba(255, 51, 51, 0.425), 0 0 20px rgba(138, 53, 53, 0.466);
    }

    to {
        text-shadow: 0 0 20px rgba(121, 10, 10, 0.507);
    }
}
@keyframes glowRed {
    from {
        text-shadow: 0 0 10px rgba(255, 51, 51, 0.425), 0 0 20px rgba(138, 53, 53, 0.466);
    }

    to {
        text-shadow: 0 0 20px rgba(121, 10, 10, 0.507);
    }
}